.Pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 3em;
    align-items: center;
}
.Button {
    background-color: transparent;
    font-weight: 400;
    border: 0;
    font-size: 1.5em;
    cursor: pointer;
}
.PagList {
    display: flex;
    flex-direction: row;
    gap: 1em;
    list-style-type: none;
}
.PagList__Item {
    cursor: pointer;
    font-size: 1.2em;
    font-style: italic;
}
.PagList__Item.Active {
    color: var(--green);
}