.InputWrapper {
    width: 100%;
    max-width: 630px;
    display: flex;
    flex-direction: row;
    background-color: var(--gray);
}
.Input {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 1.2em 1.8em;
    outline: none;
    font-size: 1.1em;
    color: var(--light-gray);
}
.Submit {
    background-color: transparent;
    border: 0;
    padding: 1.2em 1.8em;
    outline: none;
    cursor: pointer;
}
.Submit>img {
    width: 2em;
    height: auto;
}