.Page {
    width: 100%;
    min-height: 100%;
    padding: 1em;
}

.PageInner {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}