.Table {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.TableRow {
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    
}
.TableRow>div {
    border: 1px solid var(--light-gray);
    padding: 1em;
    display: flex;
    align-items: center;
}
.TableHeader {
    background-color: var(--black);
}
.TableHeader>div {
    border: 0;
    color: var(--white);
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.Arrow {
    width: .7em;
    height: auto;
    transition: transform .5s ease;
}
.Arrow.ArrowRotate {
    transform: rotate(180deg);
}
.NotFound {
    text-align: center;
    padding: 1em;
    font-size: 1.1em;
    font-weight: 500;
}